.error_block {
    display: flex;
    align-items: flex-start;
    height: 50px;
    overflow: hidden;
}
.error_icon {
    width: 30px;
    height: 30px;
}
.error_text {
    padding-top: 5px;
    margin-left: 10px;
    color: red;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}
