/* dialogs */

.dialogs {
    height: 100%;
    border: 1px solid #ddd;
}
.dialogs_block {

}
.dialogs_items {
}

/* message */
.messages_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.message_header {
    display: flex;
    align-items: center;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    position: sticky;
    top: var(--header-height);
}

.message_header__back {
    margin-right: 10px;
}

.message_header__user_name {
    text-align: center;
    width: 100%;
}

.messages_items {
    padding: 10px;
}

.message_item {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 15px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
}
.message_item:hover {
    background: #f0f2f5;
}
.message_item.main {

}
.message_item.sub {
    margin-top: 0;
}
.message_item.viewed {
    background: #d1f1ff;
}

.message_item.main + .message_item.main.viewed {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.message_item.main.viewed + .message_item.sub.viewed {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.message_item.sub.viewed + .message_item.sub.viewed {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.message_item.viewed + .message_item.sub.is_next_sub {
    border-radius: 0;
}
.message_avatar {
    display: flex;
    align-items: center;
}
.message_info_block {

}
.sender_name {
    margin-bottom: 10px;
}
.message_text {

}
.message_date {
    margin-left: 10px;
    font-size: 12px;
    color: #b3b3b3;
    font-style: italic;
}

/* create message form */

.create_message_container {
    padding: 10px;
    position: sticky;
    bottom: 0;
    background: white;
    margin-top: auto;
}

.textarea {
    height: 70px;
}